& when (@media-common = true) {
    @navigation__background: @color-blue3;
    @navigation-desktop-level0-item__color: @color-white;
    @navigation-desktop-level0-item__hover__background: @color-sky-blue1;
    @navigation-desktop-level0-item__active__color: @color-orange-red2;
}

& when (@media-target = 'mobile') {
    .nav-sections-item-title {
        background: #8fadbe;
        color: #ffffff;
    }

    .navigation .level0 > .level-top {
        color: #ffffff;
    }

    .navigation .level0 > .level1 {
        background-color: #799aad;
        color: #ffffff;
    }

    a, .alink {
        color: #ffffff;
        font-weight: 700;
    }
}
