<div class="nadiiaz-personal-discount-request">
    <form class="form nadiiaz-personal-discount-form"
          action="/errors/404.php"
          onsubmit="return false;"
          method="post"
          data-bind="
              afterRender: initModal,
              submit: sendRequest,
              visible: !formSubmitDeniedMessage()
      "
    >
    <fieldset class="fieldset">
        <?php if ($isModal === 'false'): ?>
        <legend class="legend">
            <span translate="'Loyalty program for Regular Customers'"></span>
        </legend>
        <br/>
        <div>
            <span translate="'Customers who buy products multiple times get a discount when buying multiple items. Only registered customers will get discounts'"></span>
        </div>
        <br/>
        <?php endif; ?>
        <?php // @TODO: Get current customer name and email for logged in customers ?>
        <div class="field name required">
            <label class="label" for="nadiiaz-pesonal-discount-name">
                <span translate="'Name'"></span>
            </label>
            <div class="control">
                <input class="input-text"
                       data-bind="
                        value: customerName,
                        attr: {
                            title: $t('Name'),
                            placeholder: $t('Name')
                            }
                        "
                       data-validate="{required:true}"
                       id="nadiiaz-pesonal-discount-name"
                       name="name"
                       type="text"
                />
            </div>
        </div>
        <div class="field email required">
            <label class="label" for="nadiiaz-pesonal-discount-email">
                <span translate="'Email'"></span>
            </label>
            <div class="control">
                <input class="input-text"
                       data-bind="
                            value: customerEmail,
                            attr: {
                                title: $t('Email'),
                                placeholder: $t('Email'),
                            }
                       "
                       data-validate="{ required: true, 'validate-email': true }"
                       id="nadiiaz-personal-discount-email"
                       name="email"
                       type="email"
                />
            </div>
        </div>
    </fieldset>
    <?php if ($product): ?>
    <div class="actions-toolbar">
        <input type="text"
               name="product_id"
               value="<?= $escaper->escapeHtmlAttr((int) $product->getId()) ?>"
        />
        <?php endif; ?>
        <div class="primary">
            <button type="submit"
                    data-bind="
                        attr: {
                            title: $t('Request a Discount')
                        }
                    "
                    class="action submit primary"
            >
                <span translate="'Send Request'"></span>
            </button>
        </div>
    </div>
    </form>
</div>
